<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.UserMapper">
<select id="queryall" resultType="User">
    select * from `user` limit #{start},#{row}
</select>

    <delete id="deletebyid" >
        delete  from `user` where id=#{id}
    </delete>

    <update id="updatebyid">
      update `user` set
      <trim suffixOverrides=",">
        <if test="name!=null">name=#{name},</if>
        <if test="salary!=null">salary=#{salary},</if>
        <if test="age!=null">age=#{age},</if>
        <if test="bir!=null">bir=#{bir},</if>
        <if test="dept!=null">dept=#{dept}</if>
      </trim>
      where id=#{id}
    </update>

    <insert id="insert" parameterType="user">
        insert into user values(#{id},#{name},#{salary},#{age},#{bir},#{dept})
    </insert>
    
    <select id="getcount" resultType="Integer">
        select count(*) from `user`
    </select>



</mapper>